In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [7]:
base_url = "http://books.toscrape.com/catalogue/page-{}.html"

# Creating empty lists to store data
titles = []
prices = []
ratings = []

# Loop through multiple pages 
for page in range(1, 4):
    print(f"Scraping page {page}...")
    
    # Getting the page content
    url = base_url.format(page)
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    
    # Finding all book containers
    books = soup.find_all("article", class_="product_pod")
    
    # Extracting details for each book
    for book in books:
        title = book.h3.a["title"]
        price = book.find("p", class_="price_color").text
        rating = book.p["class"][1]  # e.g., "Three", "Four", etc.
        
        titles.append(title)
        prices.append(price)
        ratings.append(rating)

Scraping page 1...
Scraping page 2...
Scraping page 3...

In [3]:
# Convert to DataFrame
books_df = pd.DataFrame({
    "Title": titles,
    "Price": prices,
    "Rating": ratings
})

# Show the first few rows
books_df.head()

                                   Title    Price Rating
0                   A Light in the Attic  Â£51.77  Three
1                     Tipping the Velvet  Â£53.74    One
2                             Soumission  Â£50.10    One
3                          Sharp Objects  Â£47.82   Four
4  Sapiens: A Brief History of Humankind  Â£54.23   Five

In [4]:
books_df.to_csv("books_dataset.csv", index=False)
print(" Dataset saved as 'books_dataset.csv'")

 Dataset saved as 'books_dataset.csv'

In [5]:
df=pd.read_csv("books_dataset.csv")
print(df)

                                                Title    Price Rating
0                                A Light in the Attic  Â£51.77  Three
1                                  Tipping the Velvet  Â£53.74    One
2                                          Soumission  Â£50.10    One
3                                       Sharp Objects  Â£47.82   Four
4               Sapiens: A Brief History of Humankind  Â£54.23   Five
5                                     The Requiem Red  Â£22.65    One
6   The Dirty Little Secrets of Getting Your Dream...  Â£33.34   Four
7   The Coming Woman: A Novel Based on the Life of...  Â£17.93  Three
8   The Boys in the Boat: Nine Americans and Their...  Â£22.60   Four
9                                     The Black Maria  Â£52.15    One
10     Starving Hearts (Triangular Trade Trilogy, #1)  Â£13.99    Two
11                              Shakespeare's Sonnets  Â£20.66   Four
12                                        Set Me Free  Â£17.46   Five
13  Scott Pilgrim's Precious Little Life (Scott Pi...  Â£52.29   Five
14                          Rip it Up and Start Again  Â£35.02   Five
15  Our Band Could Be Your Life: Scenes from the A...  Â£57.25  Three
16                                               Olio  Â£23.88    One
17  Mesaerion: The Best Science Fiction Stories 18...  Â£37.59    One
18                       Libertarianism for Beginners  Â£51.33    Two
19                            It's Only the Himalayas  Â£45.17    Two
20                                        In Her Wake  Â£12.84    One
21                                    How Music Works  Â£37.32    Two
22  Foolproof Preserving: A Guide to Small Batch J...  Â£30.52  Three
23                         Chase Me (Paris Nights #2)  Â£25.27   Five
24                                         Black Dust  Â£34.53   Five
25                      Birdsong: A Story in Pictures  Â£54.64  Three
26  America's Cradle of Quarterbacks: Western Penn...  Â£22.50  Three
27                     Aladdin and His Wonderful Lamp  Â£53.13  Three
28  Worlds Elsewhere: Journeys Around Shakespeareâ...  Â£40.30   Five
29                                     Wall and Piece  Â£44.18   Four
30  The Four Agreements: A Practical Guide to Pers...  Â£17.66   Five
31  The Five Love Languages: How to Express Heartf...  Â£31.05  Three
32                                  The Elephant Tree  Â£23.82   Five
33                             The Bear and the Piano  Â£36.89    One
34                                     Sophie's World  Â£15.94   Five
35                                        Penny Maybe  Â£33.29  Three
36     Maude (1883-1993):She Grew Up with the country  Â£18.02    Two
37                               In a Dark, Dark Wood  Â£19.63    One
38                                Behind Closed Doors  Â£52.22   Four
39                     You can't bury them all: Poems  Â£33.63    Two
40                     Slow States of Collapse: Poems  Â£57.31  Three
41                              Reasons to Stay Alive  Â£26.41    Two
42                        Private Paris (Private #10)  Â£47.61   Five
43  #HigherSelfie: Wake Up Your Life. Free Your So...  Â£23.11   Five
44                    Without Borders (Wanderlove #1)  Â£45.07    Two
45                                   When We Collided  Â£31.77    One
46                       We Love You, Charlie Freeman  Â£50.27   Five
47            Untitled Collection: Sabbath Poems 2014  Â£14.27   Four
48  Unseen City: The Majesty of Pigeons, the Discr...  Â£44.18   Four
49                                     Unicorn Tracks  Â£18.78  Three
50  Unbound: How Eight Technologies Made Us Human,...  Â£25.52    One
51  Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRo...  Â£16.28    One
52  Throwing Rocks at the Google Bus: How Growth B...  Â£31.12  Three
53                                    This One Summer  Â£19.49   Four
54                                             Thirst  Â£17.27   Five
55        The Torch Is Passed: A Harding Family Story  Â£19.09    One
56                    The Secret of Dreadwillow Carse  Â£56.13    One
57  The Pioneer Woman Cooks: Dinnertime: Comfort C...  Â£56.41    One
58                                The Past Never Ends  Â£56.50   Four
59  The Natural History of Us (The Fine Art of Pre...  Â£45.22  Three